<a href="https://colab.research.google.com/github/waghrameshwar123/Spam-Mail-Prediction/blob/main/Spam_Mail_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#Import Libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import  train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score


Data Preprocessing

In [29]:
#load the dataset to pandas data frame
raw_mail_data =pd.read_csv('spam.csv',encoding='latin-1')
# replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [30]:
mail_data.shape

(5572, 5)

In [31]:
mail_data.head()#sample data

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [32]:
#label spam mail as 0; non spam mail(ham) mail as 1
mail_data=mail_data[['v1','v2']]
mail_data.rename(columns={'v1':'Category', 'v2':'Message'}, inplace=True)


mail_data.loc[mail_data["Category"]=="spam","Category",]=0
mail_data.loc[mail_data["Category"]=="ham","Category",]=1

mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [33]:
#separate the data as text and label. x--> text, y--> label
x= mail_data['Message']
y= mail_data['Category']

In [34]:
print(x)
print('')
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Train Test Split

In [35]:
# split the data as train and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state=3)

In [47]:
# transform the text data to feature vactors that can be used as input to the SVM model using TfidfVectorizer
# convert the next to lower case letters
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)



#convert y_train and y_test value as integers
y_train = y_train.astype('int')
y_test = y_test.astype('int')

**Training the model -> Support Vector Machine**

In [48]:
#training the support vector machine model with training data
model = LinearSVC()
model.fit(x_train_features, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [49]:
#prediction on training data
prediction_on_training_data = model.predict(x_train_features)
accuracy_on_tarining_data = accuracy_score(y_train, prediction_on_training_data)

In [50]:
print('Accuracy on training dataL', accuracy_on_tarining_data)

Accuracy on training dataL 0.9995512676688355

In [51]:
#prediction on test data
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(y_test, prediction_on_test_data)

In [52]:
print('Accuracy on training dataL', accuracy_on_test_data)

Accuracy on training dataL 0.9856502242152466

**Prediction On New Mail**

In [61]:
input_mail = ["Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."]
#convert text to feature Vector
input_mail_features = feature_extraction.transform(input_mail)

#making prediction

prediction = model.predict(input_mail_features)
print(prediction)

if (prediction[0]==1):
  print('Ham Mail')
else:
  print('Spam Mail')

[1]
Ham Mail